*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  color: #151414;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

li {
  font-size: 1.2rem;
}

body {
  background: url(assets/bg-tall-mobile.png) center fixed no-repeat;
  background-size: cover;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 10%;
  background-color: white;
}

#logo {
  height: 3rem;
}

.links {
  display: flex;
  gap: 2rem;
}

.li {
  list-style: none;
  vertical-align: bottom;
}

.li a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4rem;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 18%;
}

.shop {
  width: 70%;
  height: 60%;
  overflow-y: scroll;
  justify-content: center;
  margin-top: 1.8rem;
}


/* @media screen and (max-aspect-ratio: 0.465/1) {
  .shop {
    width: 70%;
    height: 60%;
    overflow-y: scroll;
    justify-content: center;
    margin-top: 25%;
  }
} */

.mealCard {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mealCard > * {
  width: 90%;
}

.mealCard > img {
  margin-top: 1rem;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1.6rem 0;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title > h3 {
  width: 75%;
}

.likeBtn {
  border: none;
  background-color: transparent;
  width: 4rem;
}

.recipeBtn {
  padding: 0.4rem 1.2rem;
  width: max-content;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 50px 30px #3d3d3d inset;
  -moz-box-shadow: 0 0 5px 2px #3d3d3d inset;
  box-shadow: 0 0 5px 2px #3d3d3d80 inset;
  border: none;
  background-color: transparent;
}

.breakLine {
  width: 100%;
  height: 2rem;
  background: url(assets/breakLine-black.png) no-repeat;
  background-size: 100%;
  margin-top: 1.8rem;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 1.2rem 0;
  display: flex;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  justify-content: center;
}

footer > p {
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0 2rem;
  border-radius: 10px;
}

footer.hide {
  display: none;
}

/* modal styles -------------------- */

#modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  bottom: 5%;
  overflow-y: auto;
}

.modal {
  width: 80%;
  height: 85%;
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0;
  background: url(assets/background-modal-mobile.png) center fixed no-repeat;
  background-size: 100%;
}

.modal > h2 {
  width: 60%;
  text-align: center;
  font-size: 2rem;
}

#closeModalBtn {
  position: absolute;
  right: 5%;
  top: 2.5%;
  text-align: end;
  font-size: 2rem;
}

.modalTop {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.modalTop > img {
  width: 100%;
}

.modalTop > h3 {
  margin-bottom: 0.2rem;
}

#ingredientsWrap {
  width: 100%;
  background: url(assets/bg-ingredients.png) no-repeat;
  background-size: 100%;
  padding: 20% 15% 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: hidden;
}

#ingredientsPlaceholder {
  height: 70%;
  margin: 1rem 0 4rem;
  overflow-y: scroll;
  margin-left: 1rem;
}

.instructionsWrap {
  width: 100%;
  height: 26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#instructionsTop {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

#instructionsTop > h3 {
  width: 80%;
}

#instructionsBtn {
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 50px 30px #3d3d3d inset;
  -moz-box-shadow: 0 0 5px 2px #3d3d3d inset;
  box-shadow: 0 0 5px 2px #3d3d3d80 inset;
  border: none;
  background-color: transparent;
}

#instructions {
  display: none;
}

#instructions.show {
  display: contents;
  height: 50rem;
  overflow-y: hidden;
}

#instructions.show > p {
  width: 80%;
  overflow-y: scroll;
}

#form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


#commentArea {
  height: 8rem;
}

#commentsSection {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cadetblue;
  padding: 2rem;
}

#commentsSection > h3 {
  margin-bottom: 3rem;
}

#commentsPlaceholder {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.commentCard {
  width: 80%;
  border: 1px solid #000;
  background-color: rgb(250, 250, 250);
  padding: 2rem;

#form > * {
  padding: 0.4rem 1.2rem;
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 50px 30px #3d3d3d inset;
  -moz-box-shadow: 0 0 5px 2px #3d3d3d inset;
  box-shadow: 0 0 5px 2px #3d3d3d80 inset;
  border: none;
  background-color: transparent;
}

#form > h3 {
  width: 60%;
  padding: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  font-size: 1.4rem;
}

#comment {
  height: 8rem;
}

#form > button {
  width: max-content;
  align-self: flex-end;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 62.5%;
  }

  body {
    background: url(assets/bg-desktop.png) center fixed no-repeat;
    background-size: cover;
    overflow-y: hidden;
    height: 100vh;
  }

  header {
    padding: 1rem 15%;
  }

  #logo {
    height: 5rem;
  }

  main {
    margin-top: 6.5%;
  }

  .shop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    width: 65%;
    height: 65vh;
    margin-top: 4rem;
    overflow-y: auto;
  }

  .mealCard {
    width: 25%;
    height: auto;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 50px 30px #3d3d3d inset;
    -moz-box-shadow: 0 0 5px 2px #3d3d3d inset;
    box-shadow: 0 0 5px 2px #3d3d3d80 inset;
    border: none;
    background-color: transparent;
  }

  .cardInfo {
    gap: 1rem;
    padding: 1.6rem 0 0;
  }

  .title {
    min-height: 5rem;
    align-items: flex-start;
  }

  .likeBtn {
    width: 6rem;
  }

  .breakLine {
    width: 80%;
    margin: 1rem 0;
  }

  footer {
    padding: 2.2rem 0;
    background-color: rgba(255, 255, 255, 0.8);
  }

  footer > p {
    font-size: 1.4rem;
    border-radius: 6px;
  }

  footer.hide {
    display: none;
  }

  /* --- modal styles --- */
  #modalContainer {
    left: 0;
    right: 0;
  }

  .modal {
    width: 75%;
    height: 85%;
    gap: 4rem;
    padding: 6rem 0;
  }

  #closeModalBtn {
    right: 5%;
    top: 4rem;
  }

  .modalTop {
    flex-direction: row;
    gap: 2rem;
  }

  .modalTop > img {
    width: 50%;
  }

  #ingredientsWrap {
    padding: 10% 5% 2%;
  }

  #ingredientsPlaceholder {
    margin: 1rem 0 4rem;
  }

  .instructionsWrap {
    width: 100%;
    height: 26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .modalTop > ul > li > span {
    margin-right: 1rem;
  }

  #instructionsTop {
    width: 80%;
    display: flex;
    justify-content: flex-start;
  }

  #instructionsTop > h3 {
    width: max-content;
  }

  #instructionsBtn {
    margin-left: 2rem;
  }

  #instructions {
    display: none;
  }

  #instructions.show {
    display: contents;
    height: 50rem;
    overflow-y: hidden;
  }

  #instructions.show > p {
    width: 80%;
    overflow-y: scroll;
  }

  #form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #form > * {
    padding: 0.4rem 1.2rem;
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 50px 30px #3d3d3d inset;
    -moz-box-shadow: 0 0 5px 2px #3d3d3d inset;
    box-shadow: 0 0 5px 2px #3d3d3d80 inset;
    border: none;
    background-color: transparent;
  }

  #form > h3 {
    width: 60%;
    padding: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    font-size: 1.4rem;
  }

  #comment {
    height: 8rem;
  }

  #form > button {
    width: max-content;
    align-self: flex-end;
  }
}
